:root{
    --main_color:  #9B0014;
    --back_up: #7B1212;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
#Events .Top{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: auto;
}
#Events .Top .welcome h1{
    color: #9B0014;
}
#Events .Top .welcome span{
display: inline-block;
  border-bottom: 4px solid #9B0014;
  padding-bottom: 4px;
  width: 100%;
}

#Events .Top .welcome p{
    font-size: larger;
    margin-top: 53px;
}

#Events .Bottom{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 49px;
    
}
#Events .Bottom .headline h1{
font-size: 30px;
}
#Events .Bottom .cards{
    padding: 30px;
    margin-top: 60px;
    background: #ffffff;
    width: 100%;
    height: auto;
    gap: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#Events .Bottom .card{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 2px solid;
    box-shadow: 0 8px 20px black;
    transition: all 0.5s ease;
}
#Events .Bottom .card:nth-child(1) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/ChatGPT\ Image\ Oct\ 22\,\ 2025\,\ 02_35_18\ PM.png");
    background-size: cover;
    background-position: center;
}
#Events .Bottom .card:nth-child(2) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/Lucid_Origin_an_image_about_microscopic_observation_featuring__2.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom .card:nth-child(3) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/ChatGPT\ Image\ Oct\ 22\,\ 2025\,\ 02_42_55\ PM.png");
    background-size: cover;
    background-position: center;
}
#Events .Bottom .card:nth-child(4) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/Lucid_Origin_A_futuristic_robot_with_metallic_limbs_and_a_shim_3.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom .card .Bottom{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 10px;
}

#Events .Bottom .card .Bottom h1{

}
#Events .Bottom .card .Bottom span{
    display: inline-block;
  border-bottom: 4px solid #9B0014;
  padding-bottom: 4px;
  width: 50%;
}
#Events .info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#Events .info .des p{
    color: rgba(0, 0, 0,0.5);
}
#Events .info .time_location{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Events .info .time_location p{
    text-decoration: solid;
    font-size: 20px;
color: #7B1212;
}

#Events .Bottom .card:hover {
transform: translateY(-20px);
box-shadow: 0 8px 20px #9B0014;
}
#Events .Bottom-2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 49px;
    
}
#Events .Bottom-2 .headline h1{
font-size: 30px;
}
#Events .Bottom-2 .cards{
    padding: 30px;
    margin-top: 60px;
    background: #ffffff;
    width: 100%;
    height: auto;
    gap: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#Events .Bottom-2 .card{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 2px solid;
    box-shadow: 0 8px 20px black;
    transition: all 0.5s ease;
}
#Events .Bottom-2 .card:nth-child(1) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/0002181_900.jpeg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-2 .card:nth-child(2) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/download.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-2 .card:nth-child(3) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/07-773.jpg");
    background-size: cover;
    background-position: center;
}

#Events .Bottom-2 .card:nth-child(4) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/learn_to_play_violin_violin_girl_outside.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-2 .card .Bottom{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 10px;
}

#Events .Bottom-2 .card .Bottom h1{

}
#Events .Bottom-2 .card .Bottom span{
    display: inline-block;
  border-bottom: 4px solid #9B0014;
  padding-bottom: 4px;
  width: 50%;
}
#Events .info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#Events .info .des p{
    color: rgba(0, 0, 0,0.5);
}
#Events .info .time_location{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Events .info .time_location p{
    text-decoration: solid;
    font-size: 20px;
color: #7B1212;
}

#Events .Bottom-2 .card:hover {
transform: translateY(-20px);
box-shadow: 0 8px 20px #9B0014;
}
    #Events .Bottom-3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 49px;
    
}
#Events .Bottom-3 .headline h1{
font-size: 30px;
}
#Events .Bottom-3 .cards{
    padding: 30px;
    margin-top: 60px;
    background: #ffffff;
    width: 100%;
    height: auto;
    gap: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#Events .Bottom-3 .card{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 2px solid;
    box-shadow: 0 8px 20px black;
    transition: all 0.5s ease;
}
#Events .Bottom-3 .card:nth-child(1) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/hands-with-basketball-ball_171337-9220.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-3 .card:nth-child(2) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/blog_football.jpg");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-3 .card:nth-child(3) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/grimper-escalade-bien-être-épanouissement-developpement-personnel.webp");
    background-size: cover;
    background-position: center;
}

#Events .Bottom-3 .card:nth-child(4) .Top{
    width: 100%;
    height: 320px;
     background-image: url("/images/yoga3-2.avif");
    background-size: cover;
    background-position: center;
}
#Events .Bottom-3 .card .Bottom{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 10px;
}

#Events .Bottom-3 .card .Bottom h1{

}
#Events .Bottom-3 .card .Bottom span{
    display: inline-block;
  border-bottom: 4px solid #9B0014;
  padding-bottom: 4px;
  width: 50%;
}
#Events .info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#Events .info .des p{
    color: rgba(0, 0, 0,0.5);
}
#Events .info .time_location{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Events .info .time_location p{
    text-decoration: solid;
    font-size: 20px;
color: #7B1212;
}

#Events .Bottom-3 .card:hover {
transform: translateY(-20px);
box-shadow: 0 8px 20px #9B0014;
}
    