/* =========================
   GLOBAL RESET & VARIABLES
========================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --maroon: #9B0014;
  --light-gray: #D9D9D9;
  --text: #6a6a6a;
}

/* =========================
   BASE STYLES
========================= */
html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* =========================
   FOOTER
========================= */
.footer {
  background-color: var(--maroon);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
  text-align: center;
  border-top: 2px solid var(--light-gray);
}

.footer-logo {
  height: 50px;
}

.footer-center p {
  margin: 3px 0;
  font-size: 12px;
}



/* <=768px */
@media (max-width: 768px) {
 
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin: 10px 0;
  }

  .footer-logo {
    height: 40px;
  }
}
