* {
    padding: 0px;
    margin: 0px;
}

:root {
    --red-color: #9B0014;
}

/* ======================= programme section ======================= */
.programme{
    height: 1500px;
}
.programme::after {
    content: '';
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--red-color);
    z-index: -1;
}

.title {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.line-center {
    position: absolute;
    height: 1500px;
    border: 3px dashed #ffffff;
    left: 50%;
}

.all-title {
    color: #9B0014;
    margin-top: 4em;
}

.all-title span {
    color: #fff;
}

.timeline {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    flex-direction: row-reverse;
}

.timeline:nth-child(even) {
    flex-direction: row;
}

.cercle-out {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8%;
    height: 8vw;
    border-radius: 50%;
    background: #9B0014;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #9B0014 solid 1px;
    transition: all 0.6s ease;
}

.cercle-in {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: grid;
    color: #9B0014;
    justify-items: center;
    align-items: center;
    background: aliceblue;
    box-shadow: 0px 0px 4px 0px black;
    cursor: help;
    transition: all 0.6s ease;
}

.connector {
    width: 3%;
    border: 1px dashed #ffffff;
    position: relative;
    right: calc(100% - 85%);
    transition: all 0.6s ease;
}

.timeline:nth-child(even) .connector {
    border: 1px dashed #9B0014;
    left: calc(100% - 85%);
}

.text-container {
    width: 25%;
    padding: 20px;
    border-radius: 50px;
    border: 2px dashed #fff;
    position: relative;
    background-color: #9B0014;
    right: calc(100% - 85%);
    transition: all 0.6s ease;
}

.timeline:nth-child(even) .text-container {
    left: calc(100% - 85%);
    border: 2px dashed #9B0014;
    background-color: #fff;
}

.con-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    transition: all 0.6s ease;
}

.timeline:nth-child(even) .con-text {
    color: #9B0014;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    transition: all 0.6s ease;
}

.timeline:nth-child(even) .line {
    background-color: #9B0014;
}

.paragraph {
    color: #fff;
    text-align: center;
    padding: 0px 20px;
    transition: all 0.6s ease;
}

.timeline:nth-child(even) .paragraph {
    color: #9B0014;
}

/* ============== hover ========= */
.timeline:nth-child(odd) .cercle-in:hover {
    background-color: #9B0014;
    color: #fff;
}

.timeline:has(.cercle-in:hover) .cercle-out {
    background: none;
    border: 1px dashed #9B0014;
}

.timeline:nth-child(odd):has(.cercle-in:hover) .text-container {
    background: #fff;
    border: 2px dashed #9B0014;
}

.timeline:nth-child(odd):has(.cercle-in:hover) .con-text,
.timeline:nth-child(odd):has(.cercle-in:hover) .paragraph {
    color: #9B0014;
}

.timeline:has(.cercle-in:hover) .con-text,
.timeline:has(.cercle-in:hover) .paragraph {
    color: #fff;
}

.timeline:nth-child(odd):has(.cercle-in:hover) .line {
    background-color: #9B0014;
}

.timeline:has(.cercle-in:hover) .line {
    background-color: #fff;
}

.timeline:nth-child(even):has(.cercle-in:hover) .text-container {
    background: #9B0014;
    border: 2px dashed #fff;
}

.timeline:has(.cercle-in:hover) .connector {
    border: #9B0014;
}

.timeline:nth-child(even):has(.cercle-in:hover) .connector {
    border: #ffffff;
}

/* ===================== responsive ============= */

@media (max-width: 480px) {
    .programme::after {
        content: none !important;
        display: none !important;
    }

    .line-center {
        border: 3px dashed #9B0014;
        left: 15%;
    }

    .all-title span {
        color: #9B0014;
    }

    .all-title p {
        display: grid;
        height: auto;
        padding-bottom: 50px;
    }

    .text-container {
        width: 60%;
        padding: 10px;
        right: calc(100% - 92%);
        background-color: #fff;
        border: 2px dashed #9B0014;
    }

    .line {
        background-color: #9B0014;
    }

    .con-text,
    .paragraph {
        color: #9B0014;
    }

    .cercle-out {
        left: 15%;
        width: 11%;
        height: 11vw;
    }

    .cercle-in {
        font-size: 9px;
    }

    .connector {
        width: 6%;
        border: 1px dashed #9B0014;
        position: relative;
        right: calc(100% - 92%);
    }

    .timeline:nth-child(even) {
        flex-direction: row-reverse;
    }

    .timeline:nth-child(even) .text-container {
        right: calc(100% - 92%);
        left: auto;
    }

    .timeline:nth-child(even) .connector {
        border: 1px dashed #9B0014;
        right: calc(100% - 92%);
        left: auto;
    }

    /* =====hover==== */
    .timeline:nth-child(odd):has(.cercle-in:hover) .text-container {
        background: #9B0014;
        border: 2px dashed #fff;
    }

    .timeline:nth-child(odd):has(.cercle-in:hover) .con-text,
    .timeline:nth-child(odd):has(.cercle-in:hover) .paragraph {
        color: #fff;
    }

    .timeline:nth-child(odd):has(.cercle-in:hover) .line {
        background-color: #fff;
    }

    .timeline:nth-child(odd) .cercle-in:hover {
        background-color: #ffffff;
        color: #9B0014;
    }
}